@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
    /* --error-color: #53ff43; */
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: none;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
body{
    font-size: 16px;
    font-weight: 400;
    background-color: #f4f4f4;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin:0;
    background-image: url(../image/sign-up.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container{
    background-color: #effc3c;
    padding:1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 400px;
}

.form {
    padding: 10px 20px;
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

}

.form-field {
    margin-bottom: 5px;
    text-transform: none;
}

.form-field .label {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(22, 22, 22);
    margin-bottom: 10px;
}

.form-field .label label{
    font-weight: bold;
    display: inline-block;
}

.form-field span{
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}

.form-field span {
    display: inline-block;
    cursor: pointer;
}


/* button */
.btn {
    width: 100%;
    padding: 3%;
    background: #007bff;
    border: .1rem solid #007bff;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
}

.btn:hover {
    background: #fff;
    color: #000;
}

.btn:focus {
    outline: none;
}



@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .container{
        font-size: 40%;
    }
}

@media (max-width: 768px){
    
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}